/* Element global */ 

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

/* Haut de page et menu de navigation */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header img {
    width: 150px;
}

header nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    padding: 65px;
}

header nav ul li a:hover {
    background-color: rgb(231, 231, 231);
    transition: 800ms;
}

/* Contenu principal de la page */
main .search_button_sec {
    display: flex;
    justify-content: center;
    padding: 100px;
    padding-bottom: 20px;
}

main .search_button_sec a {
    color: white;
    text-decoration: none;
    background-color: orangered;
    padding: 40px;
    border-radius: 60px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 30px;
}

main .search_button_sec a:hover {
    background-color: rgb(219, 58, 0);
    transition: 800ms;
}

.content {
    background-color: #0077c0;
}

.content svg {
    background-color: white;
}

.content .presentation_sec {
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.content .presentation_sec p, .content .presentation_sec h2 {
    color: white;
}

.content .new_article_sec {
    background-color: white;
    padding: 50px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.content .new_article_sec h2 {
    font-size: xx-large;
}


/* Bas de page */

footer {
    flex-direction: column;
    background-color: rgb(46, 46, 46);
    text-align: center;
    padding: 10px;
}

footer h2, footer p {
    color: white;
}

footer h2 {
    font-size: 50px;
}

footer .social {
    display: flex;
    justify-content: space-evenly;
}

footer .social a {
    font-size: 70px;
}

footer .social a:hover {
    color: rgb(218, 218, 218);
}

footer p {
    margin-top: 41.1px;
}

footer #CGU:hover {
    text-decoration: underline;
}